<div class="col-xs-12 article-group">
  <h3 id="{{ include.group.title | identifier }}">{{ include.group.title }}</h3>
  <div class="article-group-desc">{{ include.group.description }}</div>
  {% for postname in include.group.children %}
    {% assign post = postname | find_post %}
      <div class="gallery-app-item">
        <a href="{{ post.url }}"><img class="img-thumbnail" src="images/thumbnails/{{ post.data["thumbnail"] }}"/></a>
        <div class="text-info gallery-app-thumbnail-text">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      </div>
      {% cycle include.group.title: '', '', '', '<div class="clearfix"></div>' %}
  {% endfor %}
</div>
