_site
.DS_Store
_video
.Rproj.user
.RData
.Rhistory
vendor/
.*.Rnb.cached
.jekyll-metadata
.jekyll-cache/
redesign-review.md
*.key
done.mp3
*.swp
*.swo
shiny_sym
/.quarto/
rsconnect/
venv/
.venv/
/.luarc.json
