---
layout: newframe-nocontainer
child_scope: /blog/
---

<!--  Styling located in _scss/_blog.scss, 
      also some styles from _scss/_app-stories.scss -->
 
 
<div class="row">
  <div class="col-md-8 col-lg-7 col-centered">
    <h1>{{ page.title }}</h1>
    <div class="metadata punchup">
      {% if page.edited %}
      <span class="published">Last Updated: {{ page.edited | date_to_string }}</span>
      {% elsif page.date %}
      <span class="published">Date: {{ page.date | date_to_string }}</span>
      {% endif %}
      {% if page.author %}
      <br>
      <span>By: {{ page.author }}</span>
      {% endif %}
    </div>
    <div class="post constrain-image-width">
    {{ content }}
    </div>
    <div style="padding-top:60px;"></div>
    <hr style="margin-bottom:30px;">
    <p>If you have questions about this article or would like to discuss ideas presented here, please post on <a href="https://community.rstudio.com/c/shiny">Posit Community</a>. Our developers monitor these forums and answer questions periodically. See <a href="/help">help</a> for more help with all things Shiny.</p>

  </div>

</div>
