---
layout: newframe
---

<script src="//app-ab02.marketo.com/js/forms2/js/forms2.js"></script>

<div class="col-md-10 col-sm-12">
  {% for group in site.data.articles %}
    {% for post in group.pages %}

    {% endfor %}
  {% endfor %}
  <h1>{{ page.title }}</h1>
  <div class="metadata punchup">
    <span class="published">Added: {{ page.date | date_to_string }}</span>
    {% if page.author %}
    <br>
    <span>By: {{ page.author }}</span>
    {% endif %}
  </div>
</div>
<div class="col-md-8 col-sm-12">
  <div class="post constrain-image-width">
  {{ content }}
  <div class="row">
    <div class="col-md-8 col-sm-12">
     <a class="btn btn-primary" href="{{page.link}}">Download</a>
     <!--
     <div class="btn btn-primary" onclick='MktoForms2.loadForm("//app-ab02.marketo.com", "709-NXN-706", {{page.form}}, function (form){MktoForms2.lightbox(form).show();});'>Notify me when you make new cheat sheets</div>
     -->
   </div>
  </div>

  </br>
  <img src="{{page.image}}" />
  </br>
  <p>Check out all of our cheat sheets <a href="https://www.rstudio.com/resources/cheatsheets/">here</a>.
  </p>
</div>

    <p>If you have questions about this article or would like to discuss ideas presented here, please post on <a href="https://community.rstudio.com/c/shiny">RStudio Community</a>. Our developers monitor these forums and answer questions periodically. See <a href="/help">help</a> for more help with all things Shiny.</p>

<!--
<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'shiny-rstudio'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
-->

</div>

<div class="col-md-2 col-sm-12 article-actions punchup">
  <div class="row">
    <div class="visible-sm"><br/></div>
    {% if page.demo_url %}
      <div class="article-action col-md-12 col-sm-3"><a class="btn btn-primary btn-sm fullwidth" href="{{ page.demo_url }}">View demo</a></div>
    {% endif %}
    {% if page.code_url %}
    <div class="article-action col-md-12 col-sm-3"><a class="btn btn-default btn-sm fullwidth" href="{{ page.code_url }}">Download code</a></div>
    {% endif %}
  </div>
</div>
